<header id="top-header" class="site-header">
  <div class="container header-flex">
    <div class="branding">
      <a href="/" title="Return to home page" class="site-name">Moofar Proprietary Limited</a>
      <span class="tagline">Landscaping | Horticulture | Botswana</span>
    </div>

    <div class="header-tools">
      <a href="/account/login" title="Click to log in" class="account-link">My Account</a>
    </div>
  </div>
</header>
